<div ng-include src="'views/header.html'"></div>
<div class="row">
    <h1 class="lscs-manager" style="margin-left: 15px"><span class="lscs-header-icon"><span class="glyphicon glyphicon-list"></span></span> Checklist Creation</h1>
</div>
<hr />

<div ng-controller="ChecklistCreationCtrl">
    <div class="row">
        <div class="container">
            <div class="container-fluid">
            <div class="panel panel-default">
            <div class="panel-body">
                <label><i class="fa fa-comment-o"></i> Title</label><br />
                <input type="text" ng-model="header.title" placeholder="Title"/><br />
                <label><i class="fa fa-info"></i> Description</label><br />
                <textarea class="form-control" ng-model="header.description" rows="3"></textarea><br />
                <label><i class="fa fa-cogs"></i> File Number</label><br />
                <input type="text" ng-model="header.filenumber" placeholder="File Number"/><br />
                <label><i class="fa fa-picture-o"></i> Land District</label><br />
                <input type="text" ng-model="header.landDistrict" placeholder="Land District"/><br />
                <label><i class="fa fa-location-arrow"></i> Address</label><br />
                <input type="text" ng-model="header.address" placeholder="Address"/><br />
            </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
    <h1 class="lscs-manager" style="margin-left: 30px"><span class="lscs-header-icon"><span class="glyphicon glyphicon-th-list"></span></span> Main Body</h1>
    </div>
    <div class="row">
        <div class="container">
            <div class="container-fluid">
                    <div class="panel panel-default">
                    <div class="panel-body">
                        <div checklist-input ng-repeat="input in inputs"/>
                    </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-warning" ng-click="newChecklist()">Create new checklist item</button>
                        <button class="btn btn-success" ng-click="createSurvey()">Create Survey</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
