<div ng-include src="'views/login-header.html'"></div>
<div class="row weather-login">
	<div class="small-6 large-7 columns">
		<div class="panel">
			<form>
			  	<div class="row">
			    	<div class="small-8">
			      		<div class="row">
			        		<div class="small-3 columns">
			          			<label for="right-label" class="right">Username</label>
			        		</div>
			        		<div class="small-9 columns">
			          			<input type="text" id="right-label" placeholder="Username">
			        		</div>
			      		</div>
			    	</div>
			  	</div>
				<div class="row">
			    	<div class="small-8">
			      		<div class="row">
			        		<div class="small-3 columns">
			          			<label for="right-label" class="right">Password</label>
			        		</div>
			        		<div class="small-9 columns">
			          			<input type="text" id="right-label" placeholder="Password">
			        		</div>
			      		</div>
			    	</div>
			  	</div>
			  	<div class="row">
			    	<div class="small-8">
			      		<div class="row">
			      			<div class="small-3 columns"></div>
			        		<div class="small-9 columns">
			          			<input class="button small right"  type="submit" id="loginSubmit" name="loginSubmit" value="Login">
			        		</div>
			      		</div>
			    	</div>
			  	</div>
			</form>
		</div>
	</div>

<!-- 	<div class="small-6 large-5 columns">
		<div class="right" style="margin-top: -100px; margin-right: 0;">
			<div class="weather-circle"><img src="http://maps.googleapis.com/maps/api/staticmap?center=30.3077609,-97.7534014&zoom=11&size=300x300"></div>
		</div>
		<div class="right" style="margin-top: 0; margin-right: -500px;">
			<div><img src="images/weatherize-logo.jpg"></div>
		</div>
		<div class="right" style="margin-top: -100px; margin-right: -800px;">
			<div class="weather-circle2"><img src="images/Yahoo-Weather-Forecast.jpg"></div>
		</div>
	</div>
</div> -->


