<div class="sticky">  
  <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><i class="fi-home"></i> Weather App</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <form ng-submit="submit()" ng-controller="LoginCtrl">
          <li class="has-form signinform">
            <input type="text" placeholder="username" ng-model="username" name="username" />
          </li>
          <li class="has-form signinform">
            <input type="text" placeholder="password" ng-model="password" name="password" />
          </li>
          <li class="has-form signinform">
            <input type="submit" class="button small" value="login" />
          </li>
        </form>
      </ul>
    </section>
  </nav>
</div>