<div class="modal-header">
    <h3 class="modal-title">{{items.title}} Weather and Location</h3>
</div>
<div class="modal-body">
	<div ng-weather location-map="items.address"></div>
	<center>
		<map zoom="11" center="[{{items.address}}]">
			<marker position="[{{items.address}}]" title="{{items.address}}" animation="Animation.BOUNCE"></marker>
		</map>
	</center>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>