<div ng-include src="'views/header.html'"></div>
<div class="row">
	<h1 class="lscs-manager" style="margin-left: 15px"><span class="lscs-header-icon"><span class="glyphicon glyphicon-list-alt"></span></span> Manager</h1>
	<hr />
</div>
<div ng-controller="ManagerCtrl">
	<div class="row">
		<div ng-repeat="headerTab in headerTabs" ng-click="select($index)" ng-class="{lscsSelected: $index == selected}" class="lscs-panel lscs-row-button">
			<div class="lscs-panel-inner">
				<div class="lscs-header"><small>{{headerTab.header}}</small></div>
				<div class="lscs-subheader">11 <span class="glyphicon {{headerTab.icon}}"></span></div>
			</div>
		</div>
		<div ng-click="open()" class="lscs-panel-create lscs-row-button">
			<div class="lscs-panel-inner">
                <div class="lscs-create-survey"><i class="fi-plus"></i></div>
                <div class="lscs-create-survey-sub" ng-click="openNewChecklist()">CREATE NEW SURVEY</div>
			</div>
		</div>
	</div>
	<hr />
	<ng-include src="template"></ng-include>

	<script type="text/ng-template" id="page0">
    	<div class="row">
    		<h4 class="lscs-manager" style="margin-left: 15px"><span class="lscs-header-icon-sub"><span class="glyphicon glyphicon-list-alt"></span></span> &nbsp;List of Ongoing Checklist</h4>
    	</div>
    	<div class="row">
    		<div class="container">
    			<div class="panel panel-default">
    				<div class="panel-heading">Ongoing Checklist</div>
    					<table class="table">
						  <thead>
						    <tr>
						      <th width="100">Survey ID</th>
						      <th width="250">Survey Name</th>
						      <th width="150">Surveyor</th>
						      <th width="150">Date</th>
						      <th width="150">Action</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr ng-repeat="ongoing in OngoingList">
						      <td>{{ongoing.id}}</td>
						      <td>{{ongoing.title}}</td>
						      <td>{{ongoing.assigner.first_name}} {{ongoing.assigner.last_name}}</td>
						      <td>{{ongoing.date}}</td>
						      <td>
						      	<div class="btn-group">
								  <button type="button" ng-click="open_survey(ongoing)" class="btn btn-success">View</button>
								</div>
						      </td>
						    </tr>
						  </tbody>
						</table>
				</div>
			</div>
			<!-- <div ng-weather></div> -->
			<!-- <google-map class="lscs-row-button lscs-map" center="map.center" zoom="map.zoom"></google-map> -->
    	</div>
	</script>
  	<script type="text/ng-template" id="page1">
    	<div class="row">
    		<h4 class="lscs-manager" style="margin-left: 15px"><span class="lscs-header-icon-sub"><span class="glyphicon glyphicon-list-alt"></span></span> &nbsp;List of Completed Surveys</h4>
    	</div>
    	<div class="row">
    		<div class="container">
    			<div class="panel panel-default">
    				<div class="panel-heading">Completed Checklist</div>
    					<table class="table">
						  <thead>
						    <tr>
						      <th width="100">Survey ID</th>
						      <th width="250">Survey Name</th>
						      <th width="150">Surveyor</th>
						      <th width="150">Date</th>
						      <th width="150">Action</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr ng-repeat="completed in CompletedList">
						      <td>{{completed.id}}</td>
						      <td>{{completed.title}}</td>
						      <td>{{completed.assigner.first_name}} {{completed.assigner.last_name}}</td>
						      <td>{{completed.date}}</td>
						      <td>
						      	<div class="btn-group">
								  <button type="button" ng-click="open_survey(ongoing)" class="btn btn-success">View</button>
								</div>
						      </td>
						    </tr>
						  </tbody>
						</table>
				</div>
			</div>
  	</script>
  	<script type="text/ng-template" id="page2">
    	<div class="row">
    		<h4 class="lscs-manager" style="margin-left: 15px"><span class="lscs-header-icon-sub"><span class="glyphicon glyphicon-list-alt"></span></span> &nbsp;List of Surveyors</h4>
    	</div>
    	<div class="row">
    		<div class="container">
    			<div class="panel panel-default">
    				<div class="panel-heading">Employee List</div>
    					<table class="table">
						  <thead>
						    <tr>
						      <th width="200">User ID</th>
						      <th>Surveyor Name</th>
						      <th width="200">Surveyor Username</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr ng-repeat="employee in EmployeeList">
						      <td>{{employee.id}}</td>
						      <td>{{employee.first_name}} {{employee.last_name}}</td>
						      <td>{{employee.username}}</td>
						    </tr>
						  </tbody>
						</table>
				</div>
			</div>
  	</script>
</div>


