<div class="sticky">  
  <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><i class="fi-home"></i> Weather App</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><a href="#"><i class="fi-mail"></i> Check List</a></li>
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#"><i class="fi-torso-business"></i> Profile</a></a>
        <ul class="dropdown">
          <li><a href="#"><i class="fi-widget"></i> Settings</a></li>
          <li><a href="#"><i class="fi-power"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
      <!-- Right Nav Section -->

      <!-- Left Nav Section -->
      <ul class="left">
      </ul>
    </section>
  </nav>
  <div class="row">
    <div ng-controller="ProfileCtrl">
      <tabset vertical="true" type="navType">
        <tab heading="Vertical 1">
          <div class="panel">
            Vertical content 1          
          </div>
        </tab>
        <tab heading="Vertical 2">
          <div class="panel">
            Vertical content 2
          </div>
        </tab>
      </tabset>
    </div>  
  </div>
