<div ng-include src="'views/header.html'"></div>
<div class="container">
    <div class="row">
      <div ng-controller="ProfileCtrl">
        <div style=" width: 50%; float: left">
          <div  class="panel panel-info">

            <div class="panel-heading">
              First Name
            </div>
            <div class="panel-footer">
              {{ pd.first_name }}
            </div>
            <div class="panel-heading">
              Username
            </div>
            <div class="panel-footer">
              {{ pd.username }}
            </div>
          </div>
        </div>
        <div style=" width: 50%; float: left">
          <div  class="panel panel-info">
            <div class="panel-heading">
              Last Name
            </div>
            <div class="panel-footer">
              {{ pd.last_name }}
            </div>
            
            <div class="panel-heading">
              Email
            </div>
            <div class="panel-footer">
              {{ pd.email }}
            </div>
          </div>
        </div>
        <button type="button" class="update profile" ng-click="edit()">Edit</button>
      </div>
    </div>
</div>
