<div ng-include src="'views/header.html'"></div>
<hr />
<div class="row">
  <div align="center" ng-controller="SurveyorCtrl">
      <table>
          <tr>
              <td>
                  Title
              </td>
              <td>
                  Assigner
              </td>
              <td>
                  Date
              </td>
          </tr>
          <tr ng-repeat="cl in cls">
              <td>
                  {{ cl.title }}
              </td>
              <td>
                  {{ cl.assigner }}
              </td>
              <td>

              </td>
          </tr>
      </table>
  </div>


  <!-- Broken...
  <div ng-include src="'views/checklist.html'">

  </div>-->
</div>

