<div ng-include src="'views/header.html'"></div>
<hr/>
<div class="container">

  <div align="center" ng-controller="SurveyorCtrl" >
    <table class="table table-hover">
      <tr >
        <th>
          <input type="checkbox" ng-model="itemAll" ng-click="selectAll()"/>
        </th>
        <th>
          <a href="" ng-click="predicate = 'title'; reverse=false">
            File #
            <a/>
          </th>
          <th>
            <a href="" ng-click="predicate = 'title'; reverse=false">
              Title
            </a>
          </th>
          <th>
            <a href="" ng-click="predicate = 'assigner'; reverse=false">
              Assigner
            </a>
          </th>
          <th>
            <a href="" ng-click="predicate = 'date'; reverse=false">
              Date
            </a>
          </th>
          <th>
            <a href="" ng-click="predicate = 'district'; reverse=false">
              Land District
            </a>
          </th>
          <th>
            <a href="" ng-click="predicate = 'address'; reverse=false">
              Address or location
            </a>
          </th>
          <th>
            <a href="" ng-click="predicate = 'description'; reverse=false">
              Description
            </a>
          </th>
          <th>
            <a href="" ng-click="predicate = 'status'; reverse=false">
              Status
            </a>
          </th>
        </tr>
        <tr data-toggle="modal" data-target="#checklistModal" ng-click="openChecklistModal(cl.id)" ng-repeat="cl in cls | orderBy:predicate:reverse">
          <th width="1%">
            <input type="checkbox" id="{{ $index }}" ng-model="cl.Selected"/>
          </td>
          <td>
            {{ $index }}
          </td>
          <td>
            {{ cl.title }}
          </td>
          <td>
            {{ cl.assigner.first_name}} {{ cl.assigner.last_name}}
          </td>
          <td>
            {{ cl.date }}
          </td>
          <td>
            {{ cl.district }}
          </td>
          <td>
            {{ cl.address }}
          </td>
          <td>
            {{ cl.description }}
          </td> 
          <td>
            <span ng-class="{yellow: cl.status == 'P', green: cl.status =='C'}"> 
              <span ng-if="cl.status == 'C'">
                Complete
              </span>
              <span ng-if="cl.status == 'P'">
                Pending
              </span>
              <span ng-if="cl.status == 'I'">
                Initialized
              </span>
            </span>
          </td>
        </tr>
      </table>
      <button type="button" class="submit checklist" ng-click="submit()">Submit</button>
    </div>
  </div>
