
.employee-panel {
    width: 50%;
    height: 500px;
    float: left;
}

.employee-preview {
    background-color: #FF0000;
    float: left;
    width: 50%;
    height: 500px;
}

.hoverme:hover {
    background-color:grey;
}