.weather-panel {
  width: 500px;
}

.weather-tab {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.weather-tabset {

}

.weather-login {
	position: absolute;
	top: 20%;
	left: 40%;
}

.weather-circle img {
   width: 500px;
   height: 500px;
   border: 1px solid #ccc;
   -webkit-border-radius: 250px;
   -moz-border-radius: 250px;
   -ms-border-radius: 250px;
   -o-border-radius: 250px;
    border-radius: 250px;
}

.weather-circle2 img {
   width: 300px;
   height: 300px;
   border: 1px solid #ccc;
   -webkit-border-radius: 150px;
   -moz-border-radius: 150px;
   -ms-border-radius: 150px;
   -o-border-radius: 150px;
    border-radius: 150px;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.lscs-manager {
  padding-left: 10px;
  margin-bottom: -10px;
}

.lscs-panel {
  width: 275px;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  border:1px solid #A8A8A8;
  background-color: #A8A8A8;
  color: #FFFFFF;
}

.lscsSelected {
  border:1px solid #FF6347 !important;
  background-color: #FF6347 !important;
}

.lscs-panel-create {
  width: 275px;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}

.lscs-panel-inner {
  padding: 15px;
}

.lscs-small {
  color: #FFFFFF;
}

.lscs-table {
  background-color: #A8A8A8;
  border-color: #A8A8A8;
}

.lscs-header {
  font-size: 25px;
}

.lscs-subheader {
  font-size: 65px;
}

.lscs-subheader span {
  font-size: 75px;
  float: right;
}

.lscs-row-button {
  float: left;
}

.lscs-create-survey {
  color: #33CC33;
  text-align: center;
  font-size: 65px;
}

.lscs-create-survey-sub {
  text-align: center;
}

.lscs-header-icon {
   color: #A8A8A8;
}

.lscs-header-icon-sub {
  color: #FF0000;
}

.lscs-table-sub {
  margin-left: 15px;
  margin-top: 15px;
}

.angular-google-map-container { 
  height: 400px; 
  width: 625px;
}

.lscs-map {
  margin-left: 15px;
  margin-top: 15px;
}

@font-face {
    font-family: 'weather';
    src: url('./simpleweather/artill_clean_icons-webfont.eot');
    src: url('./simpleweather/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('./simpleweather/artill_clean_icons-webfont.woff') format('woff'),
         url('./simpleweather/artill_clean_icons-webfont.ttf') format('truetype'),
         url('./simpleweather/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

.weather-icon {
  color: #000;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}


.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #000;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

body { padding-top: 70px; }

.container-full {
  margin: 0 auto;
  width: 100%;
}

map, div[map] {
  display: block;
  width: 800px;
  height: 400px;
}